@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
*{
   font-family: poppins;
}

.column{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.justify{
    text-align: justify;
}

.color_title{
    color: aqua;
}

header{
    border-bottom: 1px solid aqua;
}

.titulo{
    background-color: aqua;
    color: black;
}